/*roundA*/
.r9{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r14{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r18{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r24{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r25{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r27{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r33{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r37{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r41{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r47{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r53{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r59{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r63{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r64{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.r65{
  display: inline-block;
  border: 3px solid #C73A2A;
}

/*roundK*/
.rl8{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl9{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl20{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl22{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl30{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl41{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl42{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl52{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl57{
  display: inline-block;
  border: 3px solid #C73A2A;
}
.rl58{
  display: inline-block;
  border: 3px solid #C73A2A;
}

/*roundL*/
.rm46{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm47{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm48{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm52{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm55{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm58{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm61{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm68{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm70{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm73{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm75{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm77{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm79{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm81{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm83{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm85{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm87{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm90{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm92{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm95{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm97{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm99{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm99{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm100{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm101{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm103{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm105{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm107{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm109{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm112{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm114{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm117{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm119{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm121{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm123{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm125{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm127{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm129{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm131{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm134{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm136{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm138{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm141{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm143{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm146{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm149{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm150{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm151{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm152{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm153{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
.rm175{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}
