/*roundA*/
.r9, .r14, .r18, .r24, .r25, .r27, .r33, .r37,
.r41, .r47, .r53, .r59, .r63, .r64, .r65{
  display: inline-block;
  border: 3px solid #C73A2A;
}
/*roundF*/

/*roundK*/
.rl8, .rl9, .rl17, .rl20, .rl22, .rl26, .rl30, .rl35, .rl41, .rl42, .rl46{
  display: inline-block;
  border: 3px solid #C73A2A;
  animation: col 4s infinite;
}
.rl10, .rl12, .rl18, .rl19, .rl27, .rl31, .rl32, .rl36, .rl47{
  display: inline-block;
  border: 3px solid #C73A2A;
  animation: difcol 4s infinite;
}


/*roundL*/
.rm46, .rm47, .rm48, .rm52, .rm55, .rm58,
.rm61, .rm68, .rm70, .rm73, .rm75, .rm77,
.rm79, .rm81, .rm83, .rm85, .rm87, .rm90,
.rm92, .rm95, .rm97, .rm99, .rm100, .rm101,
.rm103, .rm105, .rm107, .rm109, .rm112, .rm114,
.rm117, .rm119, .rm121, .rm123, .rm125, .rm127,
.rm129, .rm131, .rm134, .rm136, .rm138, .rm141,
.rm143, .rm146, .rm149, .rm150, .rm151, .rm152,
.rm153, .rm175{
  background-color: #C73A2A;
  border: 3px solid #C73A2A;
}

/*roundN*/
.ro7, .ro13, .ro20, .ro35, .ro26{
  display: inline-block;
  border: 3px solid #C73A2A;
  animation: col 4s infinite;
}
.ro6, .ro12, .ro19{
  display: inline-block;
  border: 3px solid #C73A2A;
  animation: difcol 4s infinite;
}
