body{
  background-color: #C73A2A;

}
.main{
  background-color: black;
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  height: 2840px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.anim2{
  position: absolute;
  margin-left: 5px;
  margin-top: 2306px;
  width: 240px;
  height: 354px;
  background: url('../img/anim2.png');
  animation: boom 3s steps(1) infinite;
}
@keyframes boom {
  0%{ background-position: 0px top;}
  50%{ background-position: -240px top;}
  100%{ background-position: -480px top;}
}
.anim{
  position: absolute;
  margin-left: 1210px;
  margin-top: 1802px;
  width: 361px;
  height: 175px;
  background: url('../img/anim1.png');
  animation: jump 1s steps(1) infinite;
}
@keyframes jump {
  0%{ background-position: 0px top;}
  20%{ background-position: -361px top;}
  40%{ background-position: -722px top;}
  60%{ background-position: -1083px top;}

  100%{ background-position: -1805px top;}
}
.creature2{
  position: absolute;
  margin-left: 56px;
  margin-top: 783px;
  width: 342px;
  height: 265px;
}
.txt1{
  font-family: 'Garamond';
font-size: 35px;
margin-left:342px;
margin-top:687px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt2{
  font-family: 'Garamond';
font-size: 35px;
margin-left:960px;
margin-top:722px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt3{
  font-family: 'Garamond';
font-size: 35px;
margin-left:368px;
margin-top:1138px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt4{
  font-family: 'Garamond';
font-size: 35px;
margin-left:250px;
margin-top:1938px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt5{
  font-family: 'Garamond';
font-size: 35px;
margin-left:1094px;
margin-top:2014px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt6{
  font-family: 'Green_spooky_house';
font-size: 38px;
margin-left:1050px;
margin-top:2750px;
position: absolute;
color: #C73A2A;
font-style: regular;
}
.krimfence1{
  width: 25px;
  height: 491px;
  position: absolute;
  margin-left:918px;
  margin-top:300px;
  background: #414E3F;
  display: inline-block;
}
.krimfence2{
  position: absolute;
  width: 202px;
  height: 25px;
  margin-top: 275px;
  margin-left: 1155px;
  background: #414E3F;
   display: inline-block;
}
.krimfence3{
  position: absolute;
  width: 509px;
  height: 25px;
  margin-top: 766px;
  margin-left: 932px;
  background: #414E3F;
   display: inline-block;
}
.krimfence4{
  position: absolute;
  width: 25px;
  height: 503px;
  margin-top: 281px;
  margin-left: 1332px;
  background: #414E3F;
   display: inline-block;
}
.krimfence5{
  position: absolute;
  width: 25px;
  height: 145px;
  margin-top: 930px;
  margin-left: 885px;
  background: #414E3F;
   display: inline-block;
}
.krimfence6{
  position: absolute;
  width: 570px;
  height: 25px;
  margin-top: 1020px;
  margin-left: 871px;
  background: #414E3F;
   display: inline-block;
}
.irlfence1{
  position: absolute;
  width: 25px;
  height: 475px;
  margin-top: 542px;
  margin-left: 31px;
  background: #414E3F;
   display: inline-block;
}
.irlfence2{
  position: absolute;
  width: 587px;
  height: 25px;
  margin-top: 653px;
  margin-left: 53px;
  background: #414E3F;
   display: inline-block;
}
.irlfence3{
  position: absolute;
  width: 25px;
  height: 132px;
  margin-top: 542px;
  margin-left: 349px;
  background: #414E3F;
   display: inline-block;
}
.irlfence4{
  position: absolute;
  width: 25px;
  height: 197px;
  margin-top: 542px;
  margin-left: 616px;
  background: #414E3F;
   display: inline-block;
}
.irlfence5{
  position: absolute;
  width: 668px;
  height: 25px;
  margin-top: 1017px;
  margin-left: 0px;
  background: #414E3F;
   display: inline-block;
}
.irlfence6{
  position: absolute;
  width: 25px;
  height: 282px;
  margin-top: 951px;
  margin-left: 628px;
  background: #414E3F;
   display: inline-block;
}
.kanfence1{
  position: absolute;
  width: 275px;
  height: 25px;
  margin-top: 1180px;
  margin-left: 355px;
  background: #414E3F;
   display: inline-block;
}
.kanfence2{
  position: absolute;
  width: 100px;
  height: 25px;
  margin-top: 1392px;
  margin-left: 344px;
  background: #414E3F;
   display: inline-block;
}
.kanfence3{
  position: absolute;
  width: 199px;
  height: 25px;
  margin-top: 1716px;
  margin-left: 0px;
  background: #414E3F;
   display: inline-block;
}
.kanfence4{
  position: absolute;
  width: 25px;
  height: 154px;
  margin-top: 1565px;
  margin-left: 174px;
  background: #414E3F;
   display: inline-block;
}
.kolfence1{
  position: absolute;
  width: 439px;
  height: 25px;
  margin-top: 1977px;
  margin-left: 253px;
  background: #414E3F;
   display: inline-block;
}
.kolfence2{
  position: absolute;
  width: 25px;
  height: 97px;
  margin-top: 1890px;
  margin-left: 591px;
  background: #414E3F;
   display: inline-block;
}
.kolfence3{
  position: absolute;
  width: 434px;
  height: 25px;
  margin-top: 2280px;
  margin-left: 0px;
  background: #414E3F;
   display: inline-block;
}
.kolfence4{
  position: absolute;
  width: 25px;
  height: 95px;
  margin-top: 1977px;
  margin-left: 248px;
  background: #414E3F;
   display: inline-block;
}
.kolfence5{
  position: absolute;
  width: 25px;
  height: 363px;
  margin-top: 2304px;
  margin-left: 248px;
  background: #414E3F;
   display: inline-block;
}
.kolfence6{
  position: absolute;
  width: 1440px;
  height: 25px;
  margin-top: 2665px;
  margin-left: 0px;
  background: #414E3F;
   display: inline-block;
}
.fatfence1{
  position: absolute;
  width: 25px;
  height: 339px;
  margin-top: 2334px;
  margin-left: 1263px;
  background: #414E3F;
   display: inline-block;
}
.fatfence2{
  position: absolute;
  width: 25px;
  height: 406px;
  margin-top: 1798px;
  margin-left: 1054px;
  background: #414E3F;
   display: inline-block;
}
.fatfence3{
  position: absolute;
  width: 361px;
  height: 25px;
  margin-top: 1977px;
  margin-left: 1079px;
  background: #414E3F;
   display: inline-block;
}
.fatfence4{
  position: absolute;
  width: 361px;
  height: 25px;
  margin-top: 1775px;
  margin-left: 1079px;
  background: #414E3F;
   display: inline-block;
}
.fatfence5{
  position: absolute;
  width: 25px;
  height: 355px;
  margin-top: 1420px;
  margin-left: 1287px;
  background: #414E3F;
   display: inline-block;
}
.fatfence6{
  position: absolute;
  width: 152px;
  height: 25px;
  margin-top: 1397px;
  margin-left: 1287px;
  background: #414E3F;
   display: inline-block;
}
.fatfence7{
  position: absolute;
  width: 100px;
  height: 25px;
  margin-top: 1504px;
  margin-left: 1145px;
  background: #414E3F;
   display: inline-block;
}
.circle1{
  position: absolute;
  width: 298.25px;
  height: 298.42px;
  margin-left: 1130px;
  margin-top: 1083px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle2{
  position: absolute;
  width: 136.92px;
  height: 137px;
  margin-left: 950px;
  margin-top: 1081px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle3{
  position: absolute;
  width: 125px;
  height: 125px;
  margin-left: 340px;
  margin-top: 1230px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle4{
  position: absolute;
  width: 298px;
  height: 298px;
  margin-left: 917px;
  margin-top: 2339px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circle5{
  position: absolute;
  width: 127px;
  height: 127px;
  margin-left: 1155px;
  margin-top: 1633px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.incircle1{
  position: absolute;
  width: 141.5px;
  height: 1171px;
  margin-left: 1209px;
  margin-top: 1171px;
}
.incircle2{
  position: absolute;
  width: 169px;
  height: 165px;
  margin-left: 980px;
  margin-top: 2414px;
}
@keyframes rotate {
  0%{transition: rotate(0deg)}
  100%{transform: rotate(-360deg);}
}

.creature{
  position: fixed;
  margin-left: 726px;
  margin-top: 224px;
}
.path{
  position: absolute;
  width: 770px;
  height: 722.61px;
  margin-left: 395px;
  margin-top: 1194px;
}
.path2{
  position: absolute;
  width: 683px;
  height: 656px;
  margin-left: 419px;
  margin-top: 1216px;

}
.end{
  position: absolute;
  width: 550.6px;
  height: 91.36px;
  margin-left: 60px;
  margin-top: 2718px;
}

.plush1{
  position: absolute;
  width: 280.81px;
  height: 357.72px;
  margin-left: 987px;
  margin-top: 336.19px;
}
.plushborder1{
  position: absolute;
  width: 280.81px;
  height: 357.72px;
  margin-left: 987px;
  margin-top: 336.19px;
  opacity: 0%;
}
.plushborder1:hover {
  opacity: 100%;
}
.plush2{
  position: absolute;
  width: 500.75px;
  height: 306.29px;
  margin-left: 89px;
  margin-top: 706px;
}
.plushborder2{
  position: absolute;
  width: 500.75px;
  height: 306.29px;
  margin-left: 89px;
  margin-top: 706px;
  opacity: 0%;
}
.plushborder2:hover {
  opacity: 100%;
}
.plush3{
  position: absolute;
  width: 208.08px;
  height: 367.11px;
  margin-left: 80px;
  margin-top: 1143px;
}
.plushborder3{
  position: absolute;
  width: 208.08px;
  height: 367.11px;
  margin-left: 80px;
  margin-top: 1143px;
  opacity: 0%;
}
.plushborder3:hover {
  opacity: 100%;
}
.plush4{
  position: absolute;
  width: 281px;
  height: 201.06px;
  margin-left: 1103px;
  margin-top: 2056px;
}
.plushborder4{
  position: absolute;
  width: 281px;
  height: 201.06px;
  margin-left: 1103px;
  margin-top: 2056px;
  opacity: 0%;
}
.plushborder4:hover {
  opacity: 100%;
}
.plush5{
  position: absolute;
  width: 459.49px;
  height: 450.84px;
  margin-left: 72px;
  margin-top: 1667px;
}
.plushborder5{
  position: absolute;
  width: 459.49px;
  height: 450.84px;
  margin-left: 72px;
  margin-top: 1667px;
  opacity: 0%;
}
.plushborder5:hover {
  opacity: 100%;
}
