.aboutcircle{
  width: 12px;
  height: 12px;
  border: 3px solid #343333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
}
.roundA{
  width: 123px;
  height: 323px;
  margin-left: 1319px;
  margin-top: 1434px;
  position: absolute;
}
.roundB{
  width: 146px;
  height: 323px;
  margin-left: 1295px;
  margin-top: 575px;
  position: absolute;
}
.roundC{
  width: 34px;
  height: 323px;
  margin-left: 1415px;
  margin-top: 263px;
  position: absolute;
}
.roundD{
  width: 200px;
  height: 121px;
  margin-left: 7px;
  margin-top: 387px;
  position: absolute;
}
.roundE{
  width: 56px;
  height: 443px;
  margin-left: 7px;
  margin-top: -11px;
  position: absolute;
}
.roundF{
  width: 1420px;
  height: 155px;
  margin-left: 16px;
  margin-top: 16px;
  position: absolute;
}
.roundG{
  width: 833px;
  height: 37px;
  margin-left: 16px;
  margin-top: 171px;
  position: absolute;
}
.roundH{
  width: 740px;
  height: 37px;
  margin-left: 16px;
  margin-top: 208px;
  position: absolute;
}
.roundI{
  width: 671px;
  height: 311px;
  margin-left: 16px;
  margin-top: 245px;
  position: absolute;
}
.roundJ{
  width: 298px;
  height: 112px;
  margin-left: 64px;
  margin-top: 556px;
  position: absolute;
}
.roundK{
  width: 255px;
  height: 100px;
  margin-left: 376px;
  margin-top: 556px;
  position: absolute;
}
.roundL{
  width: 530px;
  height: 225px;
  margin-left: 915px;
  margin-top: -961px;
  position: absolute;
}
.roundM{
  width: 56px;
  height: 652px;
  margin-left: 7px;
  margin-top: -709px;
  position: absolute;
}
.roundN{
  width: 178px;
  height: 90px;
  margin-left: 1263px;
  margin-top: -1595px;
  position: absolute;
}
.roundO{
  width: 52px;
  height: 36px;
  margin-left: 1360px;
  margin-top: -1484px;
  position: absolute;
}
.roundP{
  width: 75px;
  height: 134px;
  margin-left: 55px;
  margin-top: -709px;
  position: absolute;
}
.roundQ{
  width: 500px;
  height: 42px;
  margin-left: 126px;
  margin-top: -709px;
  position: absolute;
}
.roundR{
  width: 120px;
  height: 80px;
  margin-left: 55px;
  margin-top: -131px;
  position: absolute;
}
.roundS{
  width: 250px;
  height: 37px;
  margin-left: 198px;
  margin-top: 476px;
  position: absolute;
}
