/* @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.sidebar { display: none; }
}
@media only screen and (min-width: 1224px) {
  /* Desktop */
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
/* }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
	.roundF{
		display: none;
	}
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
	}

	@media only screen and  (min-device-width: 1440px) and (max-device-width: 1900px){
		.iphoneR1,.iphoneR2,.iphoneR3,.iphoneR4,.iphoneR5,.iphoneR6,
		.iphoneR7,.iphoneR8,.plushPH1,.plushborderPH1,.endPH1,
		.circlePH1,.plushPH2,.plushborderPH2,.plushPH3,.irlfence9,
		.plushborderPH3,.plushPH4,.plushborderPH4,.plushPH5,.plushborderPH5,
		.circlePH4,.circlePH2,.pathPH2,.txtHP,.creaturePH2{
					display: none;
				}
	}
@media only screen and  (min-device-width: 1440px) and (max-device-width: 1920px){
	.iphoneR1,.iphoneR2,.iphoneR3,.iphoneR4,.iphoneR5,.iphoneR6,
	.iphoneR7,.iphoneR8,.plushPH1,.plushborderPH1,.endPH1,
	.circlePH1,.plushPH2,.plushborderPH2,.plushPH3,.irlfence9,
	.plushborderPH3,.plushPH4,.plushborderPH4,.plushPH5,.plushborderPH5,
	.circlePH4,.circlePH2,.pathPH2,.txtHP,.creaturePH2{
				display: none;
			}
}
@media only screen and  (min-device-width: 1367px) and (max-device-width: 1440px){
	.iphoneR1,.iphoneR2,.iphoneR3,.iphoneR4,.iphoneR5,.iphoneR6,
	.iphoneR7,.iphoneR8,.plushPH1,.plushborderPH1,.endPH1,
	.circlePH1,.plushPH2,.plushborderPH2,.plushPH3,.irlfence9,
	.plushborderPH3,.plushPH4,.plushborderPH4,.plushPH5,.plushborderPH5,
	.circlePH4,.circlePH2,.pathPH2,.txtHP,.creaturePH2{
				display: none;
			}
}
@media only screen and  (min-device-width: 1024px) and (max-device-width: 1367px){
	.iphoneR1,.iphoneR2,.iphoneR3,.iphoneR4,.iphoneR5,.iphoneR6,
	.iphoneR7,.iphoneR8,.plushPH1,.plushborderPH1,.endPH1,
	.circlePH1,.plushPH2,.plushborderPH2,.plushPH3,.irlfence9,
	.plushborderPH3,.plushPH4,.plushborderPH4,.plushPH5,.plushborderPH5,
	.circlePH4,.circlePH2,.pathPH2,.txtHP,.creaturePH2{
				display: none;
			}
}
@media only screen and  (min-device-width: 768px) and (max-device-width: 1024px){
	.iphoneR1,.iphoneR2,.iphoneR3,.iphoneR4,.iphoneR5,.iphoneR6,
	.iphoneR7,.iphoneR8,.plushPH1,.plushborderPH1,.endPH1,
	.circlePH1,.plushPH2,.plushborderPH2,.plushPH3,.irlfence9,
	.plushborderPH3,.plushPH4,.plushborderPH4,.plushPH5,.plushborderPH5,
	.circlePH4,.circlePH2,.pathPH2,.txtHP,.creaturePH2{
				display: none;
			}
}
@media only screen and  (min-device-width: 360px) and (max-device-width: 480px){
body{
	background-color: black;

}
	.main{
	  background-color: black;
	  margin: 0 auto;
	  padding: 0;
	  width: 414px;
	  height: 2568px;
	  overflow-x: hidden;
	  overflow-y: hidden;
	}
	.roundA,.roundB,.roundC,.roundD,.roundE,.roundF,
	.roundG,.roundH,.roundI,.roundJ,.roundK,.roundL,
	.roundM,.roundN,.roundO,.roundP,.roundQ,.roundR,
	.roundS,.krimfence5,.krimfence6,
	.irlfence2,.irlfence3,.irlfence4,.irlfence5,.irlfence6,
	.kanfence1,.kanfence2,.kanfence3,.kanfence4,.kolfence1,
	.kolfence2,.kolfence3,.kolfence4,.kolfence5,.kolfence6,.fatfence1,.fatfence2,
	.fatfence3,.fatfence4,.fatfence5,.fatfence6,.fatfence7,
	.circle1,.circle2,.circle3,.circle4,.circle5,.incircle1,.incircle2,
	.creature,.path,.path2,.end,.plush1,.plush2,.plush3,.plush4,.plush5,
	.plushborder1,.plushborder2,.plushborder3,.plushborder4,.plushborder5,
	.krimfence7,.krimfence8,.txt6,.creature2,.anim{
	display: none;
}
.smallanim1{
  position: absolute;
  margin-left: 287px;
  margin-top: 2147px;
  width: 84px;
  height:87px;
  background: url('../img/smallanim1.png');
  animation: jump 1s steps(1) infinite;
}
@keyframes jump {
  0%{ background-position: 0px top;}
  20%{ background-position: -85px top;}
  40%{ background-position: -170px top;}
  60%{ background-position: -255px top;}

  100%{ background-position: -340px top;}
}
.creaturePH2{
  position: absolute;
  margin-left: 29px;
  margin-top: 830px;
  width: 200px;
  height: 124px;
}
.txtHP{
  font-family: 'Green_spooky_house';
font-size: 24px;
margin-left:109px;
margin-top:2525px;
position: absolute;
color: #C73A2A;
font-style: regular;
}
.txt1{
  font-family: 'Garamond';
font-size: 22px;
margin-left:194px;
margin-top:587px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt2{
  font-family: 'Garamond';
font-size: 22px;
margin-left:140px;
margin-top:773px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt3{
  font-family: 'Garamond';
font-size: 22px;
margin-left:194px;
margin-top:1176px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt4{
  font-family: 'Garamond';
font-size: 22px;
margin-left:149px;
margin-top:1624px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.txt5{
  font-family: 'Garamond';
font-size: 22px;
margin-left:213px;
margin-top:2255px;
position: absolute;
color: #C73A2A;
font-style: italic;
}
.pathPH2{
	position: absolute;
	width: 397px;
	height: 410px;
	margin-left: 4px;
	margin-top: 1687px;
}
.endPH1{
  position: absolute;
  width: 320.24px;
  height: 69.39px;
  margin-left: 39px;
  margin-top: 2444px;
}
.plushPH1{
  position: absolute;
  width: 164.73px;
  height: 213.02px;
  margin-left: 203px;
  margin-top: 364px;
}
.plushborderPH1{
	position: absolute;
	width: 164.73px;
  height: 213.02px;
  margin-left: 203px;
  margin-top: 364px;
  opacity: 0%;
}
.plushborderPH1:hover {
  opacity: 100%;
}
.plushPH2{
  position: absolute;
  width: 282.75px;
  height: 172.95px;
  margin-left: 40px;
  margin-top: 780px;
}
.plushborderPH2{
	position: absolute;
	width: 282.75px;
  height: 172.95px;
  margin-left: 40px;
  margin-top: 780px;
  opacity: 0%;
}
.plushborderPH2:hover {
  opacity: 100%;
}
.plushPH3{
  position: absolute;
  width: 122.59px;
  height: 201.64px;
  margin-left: 40px;
  margin-top: 1191px;
}
.plushborderPH3{
	position: absolute;
	width: 122.59px;
	height: 201.64px;
	margin-left: 40px;
  margin-top: 1191px;
  opacity: 0%;
}
.plushborderPH3:hover {
  opacity: 100%;
}
.plushPH4{
  position: absolute;
  width: 156.17px;
  height: 254.57px;
  margin-left: 35px;
  margin-top: 1477px;
}
.plushborderPH4{
	position: absolute;
	width: 156.17px;
  height: 254.57px;
  margin-left: 35px;
  margin-top: 1477px;
  opacity: 0%;
}
.plushborderPH4:hover {
  opacity: 100%;
}
.plushPH5{
  position: absolute;
  width: 184.45px;
  height: 124.13px;
  margin-left: 222px;
  margin-top: 2285px;
}
.plushborderPH5{
	position: absolute;
	width: 184.45px;
  height: 124.13px;
  margin-left: 222px;
  margin-top: 2285px;
  opacity: 0%;
}
.plushborderPH5:hover {
  opacity: 100%;
}
.circlePH1{
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: 46px;
  margin-top: 643px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circlePH2{
  position: absolute;
  width: 90px;
  height: 90px;
  margin-left: 211px;
  margin-top: 1240px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.circlePH4{
  position: absolute;
  width: 205px;
  height: 205px;
  margin-left: 200px;
  margin-top: 1340px;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.krimfence8{
  width: 15px;
  height: 110px;
  position: absolute;
  margin-left:361px;
  margin-top:2013px;
  background: #414E3F;
  display: inline-block;
}
.krimfence7{
  width: 15px;
  height: 53px;
  position: absolute;
  margin-left:129px;
  margin-top:1653px;
  background: #414E3F;
  display: inline-block;
}
.krimfence1{
  width: 15px;
  height: 298px;
  position: absolute;
  margin-left:174px;
  margin-top:327px;
  background: #414E3F;
  display: inline-block;
}
.krimfence2{
  width: 104px;
  height: 15px;
  position: absolute;
  margin-left:284px;
  margin-top:335px;
  background: #414E3F;
  display: inline-block;
}
.krimfence3{
  width: 252px;
  height: 15px;
  position: absolute;
  margin-left:162px;
  margin-top:614px;
  background: #414E3F;
  display: inline-block;
}
.krimfence4{
  width: 15px;
  height: 292px;
  position: absolute;
  margin-left:386px;
  margin-top:327px;
  background: #414E3F;
  display: inline-block;
}
.irlfence1{
  width: 15px;
  height: 327px;
  position: absolute;
  margin-left:14px;
  margin-top:630px;
  background: #414E3F;
  display: inline-block;
}
.irlfence2{
  width: 332px;
  height: 15px;
  position: absolute;
  margin-left:14px;
  margin-top:755px;
  background: #414E3F;
  display: inline-block;
}
.irlfence4{
  width: 414px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:955px;
  background: #414E3F;
  display: inline-block;
}
.irlfence9{
  width: 414px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:1135px;
  background: #414E3F;
  display: inline-block;
}
.fatfence4{
  width: 15px;
  height: 206px;
  position: absolute;
  margin-left:341px;
  margin-top:1136px;
  background: #414E3F;
  display: inline-block;
}
.fatfence3{
  width: 77px;
  height: 15px;
  position: absolute;
  margin-left:341px;
  margin-top:1329px;
  background: #414E3F;
  display: inline-block;
}
.fatfence7{
  width: 15px;
  height: 143px;
  position: absolute;
  margin-left:387px;
  margin-top:1518px;
  background: #414E3F;
  display: inline-block;
}
.kanfence1{
  width: 150px;
  height: 15px;
  position: absolute;
  margin-left:193px;
  margin-top:1205px;
  background: #414E3F;
  display: inline-block;
}
.kanfence2{
  width: 27px;
  height: 15px;
  position: absolute;
  margin-left:387px;
  margin-top:1516px;
  background: #414E3F;
  display: inline-block;
}
.kanfence3{
  width: 112px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:1493px;
  background: #414E3F;
  display: inline-block;
}
.kanfence4{
  width: 15px;
  height: 101px;
  position: absolute;
  margin-left:99px;
  margin-top:1405px;
  background: #414E3F;
  display: inline-block;
}
.irlfence3{
  width: 15px;
  height: 287px;
  position: absolute;
  margin-left:193px;
  margin-top:2128px;
  background: #414E3F;
  display: inline-block;
}
.kolfence1{
  width: 271px;
  height: 15px;
  position: absolute;
  margin-left:143px;
  margin-top:1653px;
  background: #414E3F;
  display: inline-block;
}
.kolfence2{
  width: 414px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:2113px;
  background: #414E3F;
  display: inline-block;
}
.kolfence3{
  width: 414px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:2414px;
  background: #414E3F;
  display: inline-block;
}
.kolfence4{
  width: 216px;
  height: 15px;
  position: absolute;
  margin-left:198px;
  margin-top:2234px;
  background: #414E3F;
  display: inline-block;
}
.kolfence5{
  width: 148px;
  height: 15px;
  position: absolute;
  margin-left:0px;
  margin-top:2332px;
  background: #414E3F;
  display: inline-block;
}
.kolfence6{
  width: 15px;
  height: 287px;
  position: absolute;
  margin-left:146px;
  margin-top:2128px;
  background: #414E3F;
  display: inline-block;
}
