/* @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.sidebar { display: none; }
}
@media only screen and (min-width: 1224px) {
  /* Desktop */
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
}
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
/* }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
	.roundF{
		display: none;
	}
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
	}


@media only screen and  (min-device-width: 1440px) and (max-device-width: 1920px){
.iphoneR1{
	display: none;
}
}
@media only screen and  (min-device-width: 1367px) and (max-device-width: 1440px){
	.iphoneR1{
		display: none;
	}
}
@media only screen and  (min-device-width: 1024px) and (max-device-width: 1367px){
	.iphoneR1{
		display: none;
	}
}
@media only screen and  (min-device-width: 768px) and (max-device-width: 1024px){
	.iphoneR1{
		display: none;
	}
}
@media only screen and  (min-device-width: 360px) and (max-device-width: 480px){
body{
	background-color: black;
}
	.main{
	  background-color: black;
	  margin: 0 auto;
	  padding: 0;
	  width: 400px;
	  height: 2380px;
	  overflow-x: hidden;
	  overflow-y: hidden;
	}
	.roundA,.roundB,.roundC,.roundD,.roundE,.roundF,
	.roundG,.roundH,.roundI,.roundJ,.roundK,.roundL,
	.roundM,.roundN,.roundO,.roundP,.roundQ,.roundR,
	.roundS{
	display: none;
}
.krimfence1{
  width: 15px;
  height: 298px;
  position: absolute;
  margin-left:174px;
  margin-top:295px;
  background: #414E3F;
  display: inline-block;
}
.krimfence2{
  width: 104px;
  height: 15px;
  position: absolute;
  margin-left:282px;
  margin-top:303px;
  background: #414E3F;
  display: inline-block;
}
