@import "content.css";
@import "reset.css";
@import "layout.css";
@import "circle.css";
@import "animation.css";
@import "responsive.css";
@import "iphone.css";
@font-face {
	font-family: 'Garamond';
	src: url("../font/cyrillicgaramonditalic.ttf");
  font-style: italic;
}
